{% extends 'home/home_base.html' %}
{% block title %}/Routine - Evening{% endblock title %}

{% block body %}
    
    <center>
        <form action="/view_search_schedule_eve.html" method="post">
            {% csrf_token %}
            <div class="input-group home_content_search my-4">
                <input type="text" name="dept" class="form-control" placeholder="Dept." maxlength="3" required>
                <input type="text" name="batch" class="form-control" placeholder="Batch" maxlength="2" required>
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i> Search</button>
            </div>
        </form>
    {% for d in date_list %}
    <table class="table table-bordered" style="width:90%">
        <thead class="table-light">
            <tr>
                <th scope="col">Date & Time</th>
                <th scope="col">Course Code & Title</th>
                <th scope="col">Program & Batch</th>
                <th scope="col">Room & Roll</th>
            </tr>
        </thead>
        <tbody>
          <tr>
               <td rowspan="100">{{d.exam_date}}<br>{{d.weekday}}<br>{{d.exam_time}}</td>
                {% for n in schedule %}
                {% if n.exam_date == d.exam_date %}
                <tr>
                <td>{{n.course_code}}-{{n.course_name}}</td>
                <td>{{n.dept}}-{{n.batch}}-{{n.section}}-({{n.total_st}})</td>
                <td>{{n.room}}-({{n.st_number}})</td>
                </tr>
                {% endif %}
                {% endfor %}
            <tr>
        </tbody>
    </table>
    {% endfor %}
    </center>
{% endblock body %}